<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Add Menu</title>
</head>
<body>

<h1>Welcome:</h1>
<h2 th:text="${restaurant.name}"> </h2>
<h2 th:text="${restaurant.address}"> </h2>

<h2>Add new meal to your Menu</h2>

<form action="/saveMeal" method="post">

    <input type="hidden" name="restaurantName" placeholder="restaurantName" th:value="${restaurant.name}"/>

    <select name="menuSection">
        <option th:each="menuSection : ${menuSections}"
                th:value="${menuSection}"
                th:text="${menuSection}"
                name="menuSection">
        </option>
    </select>

    <input type="text" name="name" placeholder="Meal name"/>

    <input type="text" name="description" placeholder="Meal description"/>

    <input type="text" name="quantity" placeholder="Meal quantity"/>

    <input type="text" name="price" placeholder="Meal price"/>

    <input type="submit" name="" placeholder="" value="Add to my Menu"/>

</form>
<form action="/restaurants" method="get">
    <input type="submit" name="" placeholder="" value="Get Back to Restraunt page "/>
</form>

</body>
</html>
