<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Create Menu Sections</title>
</head>
<body>

<h1>Welcome:</h1>
<h2 th:text="${restaurant.name}" >Restaurant name:  </h2>

<h1> Add Sections (types of meals) to your Menu </h1>

<form action="/saveMenuSections" method="post">

    <input type="hidden" name="restaurantName" placeholder="restaurantName" th:value="${restaurant.name}"/>
    <!--if there is a List<String> in the controller - than use it:-->
    <!--model.addAttribute("menuSections", menuSections);-->
    <!--<ul>-->
        <!--<li th:each="menuSection : ${menuSections}">-->
            <!--<input type="text" th:name="${menuSection}"-->
                   <!--th:text="${menuSection}"/>-->
        <!--</li>-->
    <!--</ul>-->

    <input type="text" name="sectionName" placeholder="sectionName"/>

    <input type="submit" name="" placeholder="" value="Create a Section of Menu"/>

</form>

<h2>The sections of your Menu:</h2>

<ul>
    <li th:each="m : ${menuSections}">
        <p th:text="${m}"></p>
     </li>
</ul>

<form action="/goToMenu" method="get">
    <input type="hidden" name="restaurantName" placeholder="restaurantName" th:value="${restaurant.name}"/>
    <input type="submit" name="" placeholder="" value="Add a meal to my Menu"/>
</form>
<form action="/watchToMenu" method="post">
    <input type="hidden" name="restaurantName" placeholder="restaurantName" th:value="${restaurant.name}"/>
    <input type="submit" name="" placeholder="" value="Watch All Menu"/>
</form>
<form action="/watchMyOrders" method="post">
    <input type="hidden" name="restaurantName" placeholder="restaurantName" th:value="${restaurant.name}"/>
    <input type="submit" name="" placeholder="" value="Watch All My Orders"/>
</form>

</body>
</html>

