<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Create Order</title>
</head>
<body>
<h1>Welcome:</h1>
<h2 th:text="${client.username}" >Your Login: </h2>

<h1> Choose the Restaurant: </h1>

<ul>
    <li th:each="restaurant : ${restaurants}">
        <p> - Restaurant name: </p>
        <p th:text="${restaurant.name}"></p>
        <p> -  Restaurant address: </p>
        <p th:text="${restaurant.address}"></p>
        <p> - Restaurant info: </p>
        <p th:text="${restaurant.additionalInfo}"></p>
        <p> - Restaurant Positive rating: </p>
        <p th:text="${restaurant.numberOfPositiveResp}"></p>
        <p> - Restaurant Negaive rating: </p>
        <p th:text="${restaurant.numberOfNegativeResp}"></p>
        <div>
            <a th:href="@{'goToRestaurant-'+${restaurant.id}}">
                <button> Go to this RESTAURANT </button>
            </a>
        </div>
    </li>
</ul>

<h5>The List of your previous orders: </h5>
<ul>
    <li th:each="o : ${orders}">
        <p> - Restaurant name:</p>
        <p th:text="${o.getRestaurant().getName()}"></p>
        <p> - Order date:</p>
        <p th:text="${o.date}"></p>
        <p> - Current Status: </p>
        <p th:text="${o.orderStatus}"></p>
        <h5>List of meals for this order:
            <li th:each="meal : ${o.getMeals()}">
                <p th:text="${meal.menuSection.name}"></p>
                <p th:text="${meal.name}"></p>
                <p th:text="${meal.description}"></p>
                <p th:text="${meal.quantity}"></p>
                <p th:text="${meal.price}"></p>
            </li>
        </h5>
    <div>
        <a th:href="@{'confirmServed-'+${o.id}}">
            <button> Order Served </button>
        </a>
    </div>
    <div>
        <a th:href="@{'negativeResponseFromClient-'+${o.id}}">
            <button> Add Negative Response </button>
        </a>
    </div>
    <div>
        <a th:href="@{'positiveResponsefromClient-'+${o.id}}">
            <button> Add Positive Response </button>
        </a>
    </div>
    <div>
        <a th:href="@{'deleteOrderByClient-'+${o.id}}">
            <button> Delete Order </button>
        </a>
    </div>

    </li>
</ul>


</body>
</html>