<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{main.css}" />
    <title>Menu for a Restaurant</title>
</head>
<body>
<ul>
    <li th:each="meal : ${meals}">
        <p th:text="${meal.getMenuSection().name+', '+meal.name+', '+meal.description+', '+meal.price}"></p>
    </li>
</ul>
<form action="/restaurants" method="get">
    <input type="submit" name="" placeholder="" value="Get Back to Restraunt page "/>
</form>
</body>
</html>