<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Restaurant</title>
</head>
<body>
<h1>Restaurant Page</h1>

<h3>Log into: </h3>
<form action="/loginRestaurant" method="post">

    <input type="text" name="username" placeholder="username" />

    <input type="text" name="password" placeholder="password"/>

    <input type="submit" name="" placeholder="" value="Log In"/>

</form>
<h6><i>Result Of Logination:</i></h6>
<h4 th:text="${resultOfLogination}"> </h4>
<h3>Or Create an account of a New Restaurant:</h3>
<h5>(fill in general info about your restaurant and your data for further loginations- username and password)</h5>

<form action="/saveRestaurant" method="post">

    <input type="text" name="username" placeholder="username" />

    <input type="text" name="password" placeholder="password"/>

    <input type="text" name="name" placeholder="name"/>

    <input type="text" name="address" placeholder="address"/>

    <input type="email" name="email" placeholder="email"/>

    <input type="text" name="phoneNumber" placeholder="phoneNumber"/>

    <input type="text" name="additionalInfo" placeholder="additionalInfo"/>

    <input type="submit" name="" placeholder="" value="Sign In"/>

</form>

</body>
</html>
